# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Application specific files
venv
node_modules

# Private environments
.env
ToDo.private

# Test version of sample
example1.js

